# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2D Single-Screen Game.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Akela\Documents\GitHub\single-screen-game-MarkBenabese\2D Single-Screen Game\.idea\.idea.2D Single-Screen Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
